.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto';
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 330px;
  background-color: #272727;
  padding-bottom: 35px;
}

.website-logo {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 24px;
  margin-left: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.input-field {
  font-size: 14px;
  height: 35px;
  border: 1px solid #64748b;
  background-color: transparent;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 6px 12px 6px 12px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
